$cover-height: 280px;

.Choices__cover {
  padding-top: $nav_height;
  height: $cover-height;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  background-color: $grey2;
  color: $text-color;
}

.Choices__empty-text {
  text-align: center;
}

.Choices__cover-overlay {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: rgba($grey, 0.3);
  height: $cover-height - $nav_height;
  padding: 25px 5%;
}

.Choices__body {
  padding: 25px 40px;
}

.Choices__mode-dropdown {
  margin: 10px auto;
  display: block;
  font-size: 20px;
  width: 100%;
}

.Choices__button {
  @include primary-button;
  margin-top: 20px;
  display: block;
}

.Choices__button--invalid {
  @include warning-button;
  margin-top: 20px;
  display: block;
}

.Choices__button--nuetral {
  @include nuetral-button;
  margin-top: 20px;
  display: block;
}

@mixin RadioChoices {
  list-style-type:none;
  margin:25px 0 0 0;
  padding:0;
  display: flex;
  li {
    flex: 1;
    display: block;
    margin:0 5px 0 0;
    height:40px;
    position:relative;
    min-height: 150px;
  }
  input[type="radio"] {
    opacity:0.011;
    z-index:100;
  }
  input[type="radio"]:checked + label {
    background: $brightblue;
    color: $white;
    border-radius: 4px;
  }
  label {
    cursor: pointer;
    z-index: 90;
    &:hover {
      background: $anothergrey;
      border-radius: 4px;
    }
  }
}

@mixin hide-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin choices-buttons {
  display: inline-block;
  text-align: center;
  // padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 79, 93,.11), 0 1px 3px rgba(0,0,0,.30);
  background: #fff;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .02em;
  text-decoration: none;
  transition: all .15s ease;
  &:hover {
    color: $white;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 79, 93,.1), 0 3px 6px rgba(0,0,0,.08);
  }
}

@mixin choices-h1 {
  margin: 0 0 10px;
  text-align: center;
}
