.RouteChoices {
  @include RadioChoices;
}

.RouteChoices__img {
  max-width: 100px;
  margin: auto;
  display: block;
}

.RouteChoices__button {
  @include choices-buttons;
}

.RouteChoices__labelText {
  margin-top: 10px;
  display: block;
}

.RouteChoices__label {
  @include hide-radio-input;
  padding: 10px;
}
