.RouteChoices {
  @include RadioChoices;
}

.RouteChoices__h1 {
  @include choices-h1;
}

.RouteChoices__img {
  margin: auto;
  display: block;
  width: 95%;
  max-width: 100px;
}

.RouteChoices__button {
  @include choices-buttons;
}

.RouteChoices__labelText {
  margin-top: 10px;
  display: block;
  overflow-wrap: break-word;
}

.RouteChoices__label {
  @include hide-radio-input;
  padding: 10px;
  overflow-wrap: break-word;
}
