.TransitModeChoices {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  label {
    cursor: pointer;
    z-index: 90;
    &:hover {
      background: $anothergrey;
      border-radius: 4px;
    }
  }
  input:[type="radio"]:checked + label.TransitModeChoices__labelText {
    background: $brightblue;
    color: $white;
    border-radius: 4px;
  }
  input:[type="radio"]:checked + label.TransitModeChoices__labelText--invalid {
    background: $red;
    color: $white;
    border-radius: 4px;
  }
}

.TransitModeChoices__h1 {
  @include choices-h1;
}

.TransitModeChoices__button {
  @include choices-buttons;
  margin: 5px;
  flex: 1;
  min-width: 25%;
  max-width: 48%;
  position: relative;
}

.TransitModeChoices__input {
  @include hide-radio-input;
  opacity:0.011;
  z-index:100;
}

.TransitModeChoices__labelText,
.TransitModeChoices__labelText--invalid {
  padding: 10px;
  display: block;
  height: 100%;
}
