.Level {
  text-align: center;
}

.Level__body {
  padding: 25px 40px;
}

.Level__title {
  font-size: 26px;
  text-align: center;
  margin: 0 0 15px;
}

.Level__desc {
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.Level__next-button {
  @include primary-button;
}

.Level__review-buttons {
  display: flex;
  padding: 0 15%;
}

.Level__edit-button {
  @include primary-button;
  width: 95px;
  font-size: 14px;
  height: auto;
  min-width: auto;
}

.Level__done-button {
  @include secondary-button;
  width: 95px;
  font-size: 14px;
  height: auto;
  min-width: auto;
}
