.Submit {
  padding-top: $nav_height;
}

.Submit__intro-body {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  background: $white;
  text-align: center;
}

.Submit__summary {
  text-align: left;
}

.Submit__body {
  text-align: center;
  padding: 25px 40px;
}

.Submit__next-button {
  @include primary-button;
  margin: 20px auto;
}

.Submit__title {
  text-align: center;
}

.Submit__desc {
  font-size: 40px;
  padding: 20px 0;
}

.Submit__img {
    margin: 35px 0 40px;
}

.Submit__smallcaps {
  @include small-caps;
  margin-bottom: 25px;
}

.Submit__review-header {
  max-height: 205px;
  overflow: hidden;
  text-align: center;
  background-color: $grey2;
}

.Submit__review-subtitle {
  margin-bottom: 30px;
}

.Submit__review-buttons {
  display: flex;
  padding: 25px 15% 30px;
}

.Submit__review-service-list {
  margin-bottom: 20px;
}

.Submit__revise-link {
  padding: 10px 0 40px
}

.Submit__save-body {
  padding: 25px 40px;
  label, input, textarea {
    width: 100%;
  }
  input, textarea {
    background: $superlightblue;
    border: 1px solid $dark-grey;
    margin-bottom: 10px;
    padding: 5px;
  }
  textarea {
    height: 170px;
  }
  label {
    font-weight: normal;
    font-size: 16px;
    width: 100%;
    display: block;
  }
  select {
    font-size: 14px;
    margin-bottom: 10px;
  }
  small {
    display: block;
    margin-bottom: 3px;
  }
}


// TODO: fix this later


.Department {
  text-align: center;
}

.Department__body {
  @include body;
}

.Department__title {
  @include title-text;
}

.Department__desc {
  @include description-text;
}

.Department__link {
  font-size: 16px;
}

.Department__review-buttons {
  display: flex;
  padding: 25px 15% 30px;
}

.Department__edit-button {
  @include primary-button;
  width: 95px;
  font-size: 16px;
  height: 36px;
  min-width: auto;
  padding: 6px;
  &:hover {
    background-color: $darkbluish;
  }
}

.Department__done-button {
  @include primary-button;
  width: 95px;
  font-size: 16px;
  height: 36px;
  min-width: auto;
  padding: 6px;
  &:hover {
    background-color:$darkbluish;
  }
}

.Department__button-content--icon {
  padding: 6px 10px;
}
.Department__button-content--right {
  padding-right: 25px;
}

.Service {
  text-align: center;
}

.Service__body {
  @include body;
}

.Service__title {
  @include title-text;
}

.Service__desc {
  @include description-text;
}

.Service__next-button-flex-container {
  @include button-flex-container;
}

.Service__next-button {
  @include button-flex;
  @include primary-button;
  &:hover{
    background-color: $darkbluish;
  }
}

.Service__review-buttons {
  display: flex;
  padding: 0 15%;
}

.Service__edit-button {
  @include primary-button;
  width: 95px;
  font-size: 14px;
  height: auto;
  min-width: auto;
}

.Service__done-button {
  @include secondary-button;
  width: 95px;
  font-size: 14px;
  height: auto;
  min-width: auto;
}
